#cvp a {
    color: #dd3e88;
}

#cvp a:hover {
    color: #932493;
}

#cvp input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#cvp .alert {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border: none;
}

#cvp .btn {
    border: none !important;
    border-radius: 50px;
    transition: all 0.15s ease-in-out !important;
    -webkit-transition: all 0.15s ease-in-out !important;
}

#cvp .btn-success {
    background: linear-gradient(45deg, #42bdc1 0%, #a3ef95 100%) !important;
}

#cvp .btn-success:hover {
    background: linear-gradient(45deg, #a3ef95 0%, #42bdc1 100%) !important;
}

#cvp .btn-default {
    border: 1px solid #e5e5e5 !important;
}

body.wp-admin #cvp .btn-default:focus,
body.wp-admin #cvp .btn-default.focus,
body.wp-admin #cvp .bootstrap-select .dropdown-toggle:focus,
body.wp-admin #cvp .btn:focus,
body.wp-admin #cvp .btn:active:focus,
body.wp-admin #cvp .btn.active:focus,
body.wp-admin #cvp .btn.focus,
body.wp-admin #cvp .btn:active.focus,
body.wp-admin #cvp .btn.active.focus,
body.wp-admin #cvp a:focus {
    outline: 0 !important;
    box-shadow: none !important;
    text-decoration: inherit !important;
}

#cvp .alert-info {
    background-color: rgba(217, 237, 247, 0.5);
}

#cvp [v-cloak] {
    display: block;
}

#cvp [v-cloak] .v-cloak--block {
    display: block;
}

#cvp [v-cloak] .v-cloak--inline {
    display: inline;
}

#cvp [v-cloak] .v-cloak--inlineBlock {
    display: inline-block;
}

#cvp [v-cloak] .v-cloak--hidden {
    display: none;
}

#cvp [v-cloak] .v-cloak--invisible {
    visibility: hidden;
}

#cvp .v-cloak--block,
#cvp .v-cloak--inline,
#cvp .v-cloak--inlineBlock {
    display: none;
}

#cvp .loading {
    font-size: 200%;
    margin-bottom: 30px;
}

#cvp .fade-enter-active,
#cvp .fade-leave-active {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#cvp .fade-enter,
#cvp .fade-leave-to {
    opacity: 0;
}

body {
    background: #f7f8fb;
    color: #646c79;
}

#cvp h5 {
    font-weight: bold;
}

#cvp .content {
    padding-right: 20px;
}

#cvp .full-block-white {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
    -moz-box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
    -webkit-box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
}

#cvp .pink {
    color: #f0476d;
}

#cvp .yellow {
    color: #ffbf12;
}

#cvp .btn-pink {
    background: linear-gradient(45deg, #932493 0%, #dd3e88 100%);
    -webkit-box-shadow: 0px 20px 30px -10px rgba(221, 62, 136, 0.4);
    box-shadow: 0px 20px 30px -10px rgba(221, 62, 136, 0.4);
    color: #fff;
}

#cvp .btn-pink:hover,
#cvp .btn-pink:focus,
#cvp .btn-pink:active,
#cvp .btn-pink.active,
#cvp .open > .dropdown-toggle.btn-pink {
    color: #fff;
    background: linear-gradient(45deg, #932493 0%, #dd3e88 100%);
}

#cvp .btn-transparent {
    color: #357ebd;
    border-color: #357ebd;
    background: inherit;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#cvp .btn-transparent:hover {
    color: #357ebd;
    border-color: #357ebd;
    background: #fff;
}

#cvp .padding-top-10 {
    padding-top: 10px;
}

#cvp .padding-top-15 {
    padding-top: 15px;
}

#cvp .padding-top-20 {
    padding-top: 20px;
}

#cvp .padding-top-30 {
    padding-top: 30px;
}

#cvp .padding-top-40 {
    padding-top: 40px;
}

#cvp .padding-bottom-10 {
    padding-bottom: 10px;
}

#cvp .padding-bottom-15 {
    padding-bottom: 15px;
}

#cvp .padding-bottom-20 {
    padding-bottom: 20px;
}

#cvp .padding-bottom-30 {
    padding-bottom: 30px;
}

#cvp .padding-bottom-40 {
    padding-bottom: 40px;
}

#cvp .margin-top-10 {
    margin-top: 10px !important;
}

#cvp .margin-top-20 {
    margin-top: 20px !important;
}

#cvp .margin-top-40 {
    margin-top: 40px !important;
}

#cvp .margin-bottom-0 {
    margin-bottom: 0 !important;
}

#cvp .margin-bottom-10 {
    margin-bottom: 10px !important;
}

#cvp .margin-bottom-20 {
    margin-bottom: 20px !important;
}

#cvp .margin-bottom-40 {
    margin-bottom: 40px !important;
}

#cvp .radio-btn input {
    display: none;
}

#cvp .pro-version {
    font-weight: bold;
}

#cvp .pro-version i {
    color: #f0476d;
}

#cvp .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

#cvp .create-account {
    margin-left: 10px;
}

#cvp .bg-white {
    background: #fff !important;
}

#cvp .nav-tabs {
    border: none;
    z-index: 1000;
    position: relative;
    margin-top: 50px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
    #cvp .nav-tabs li {
        width: 100%;
    }
}

#cvp .nav-tabs li.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    top: 90%;
    border-radius: 4px;
    min-width: 200px;
}

#cvp .nav-tabs li.dropdown:hover .dropdown-menu li {
    margin-bottom: 0;
}
#cvp .nav-tabs li.dropdown:hover .dropdown-menu li a {
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#cvp .nav-tabs a:focus {
    outline: 0 !important;
    /* border: 1px solid #e5e5e5 !important; */
    /* border-bottom: 1px solid #fff !important; */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#cvp .label-new {
    background-color: #f0476d;
}

#cvp .content-tabs {
    padding-right: 20px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 600px) {
    #cvp .content-tabs {
        margin: 0 40px;
    }
}

#cvp .tab-content {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
    -moz-box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
    -webkit-box-shadow: 0px 20px 150px rgba(51, 73, 90, 0.2);
}

#cvp .modal .tab-content {
    border-radius: 0;
    padding: 20px;
}

#cvp .xbox.xbox-boxed,
#cvp .tab-content .xbox-header,
#cvp .tab-content .xbox-row,
#cvp .tab-content .xbox-tab-header {
    background: none !important;
}

#cvp #dashboard .tab-content {
    border-top-left-radius: 0;
}

#cvp .tab-options.tab-content {
    position: relative;
    padding: 0;
}

#cvp .tab-content .list-inline a,
#cvp .tab-content .list-inline i {
    color: #646c79;
}

#cvp .tab-content .list-inline li {
    margin-bottom: 0;
}

#cvp .tab-content .list-inline .active i,
#cvp .tab-content .list-inline li:hover i {
    color: #f0476d;
}

#cvp .tab-content .list-inline li a:hover {
    text-decoration: none;
}

#cvp .tab-content .list-inline .active a {
    font-weight: bold;
}

#cvp .tab-content .list-inline .active a,
#cvp .tab-content .list-inline li:hover a {
    color: #363a41;
}

#cvp .tab-content .list-inline .btn,
#cvp .tab-content .list-inline .btn i,
#cvp .tab-content .list-inline .btn:hover,
#cvp .tab-content .list-inline .btn:hover i {
    color: #fff;
}

/* #cvp .tab-content.tab-options .list-inline*/
#cvp .tab-content .list-inline {
    height: 60px;
    line-height: 60px;
    padding-left: 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #e7e8eb;
}

#cvp .tab-content > div > div:nth-child(2),
#cvp #dashboard .tab-content > div > div {
    padding: 30px;
}

#cvp div.content-tabs > ul.nav-tabs > li > a,
#cvp .xbox-wrap-admin-page a {
    color: #646c79;
    font-size: 13px;
    border: none;
}

#cvp div.content-tabs > ul.nav-tabs > li > a:hover,
#cvp .xbox-wrap-admin-page a:hover {
    color: #363a41;
    text-decoration: none;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.75)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.75) 100%);
}

#cvp div.content-tabs > ul.nav-tabs > li.active > a {
    background: #fff;
    color: #363a41;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #fff;
}

#cvp div.content-tabs > ul.nav-tabs > li.active > a i {
    color: #f0476d;
}

#cvp .plugins-separator {
    color: #646c79;
    padding: 0 5px;
}

#cvp .plugins-counter {
    opacity: 0.6;
}

#cvp h3 {
    margin: 15px;
}

#cvp .fa-spin-reverse {
    -webkit-animation: fa-spin-reverse 2s infinite linear;
    animation: fa-spin-reverse 2s infinite linear;
}

#cvp .fa-pulse-reverse {
    -webkit-animation: fa-spin-reverse 1s infinite steps(8);
    animation: fa-spin-reverse 1s infinite steps(8);
}

body.wp-admin #cvp .progress-bar-success {
    background: linear-gradient(45deg, #42bdc1 0%, #a3ef95 100%) !important;
}

body.wp-admin #cvp .xbox-type-import .xbox-label {
    display: none;
}

@-webkit-keyframes fa-spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(-359deg);
    }
}

@keyframes fa-spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(-359deg);
    }
}
